<%= render "shared/social_hero" %>
<h1>About Us</h1>
<p>We promise that one day we will get around to finally updating this page and stop making it look like the piece of crap that it currently is. If you have any questions in the mean time then get in touch with us at fmhgifts [at] gmail.com or alternatively contact us on Twitter @<%= ENV["TWITTER_SITE"] %>
</p>
