<!-- Start featured -->
  <section id="featured" class="aligncenter">
      <div class="gridrotator">
        <div class="grid-wrapper">
          <div class="container">
            <div class="row">
              <div class="span12">    
                <h3>There Goes My Paycheck</h3>
              </div>
            </div>
          </div>
        </div>
        <div id="ri-grid" class="ri-grid ri-grid-size">
          <ul>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
          </ul>
        </div>
      </div>
  </section>
  <!-- End featured -->

    <!-- Start contain -->
  <section id="contain">
    <div class="container">
      <div class="row">
      <div class="span12">
        <div id="filter-bar" class="btn-group">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          Sort item by
          <span class="caret"></span>
          </a>        
          <ul id="filters" class="dropdown-menu">
            <!-- works by the li class names -->
            <li><a href="#" data-filter=".all">All items</a></li>
            <li><a href="#" data-filter=".latest">Latest items</a></li>
            <li><a href="#" data-filter=".popular">Popular items</a></li>
            <li><a href="#" data-filter=".premium">Premium items</a></li>
            <li><a href="#" data-filter=".free">Free items</a></li>
          </ul>
        </div>  
        <span class="page-count"><%= page_entries_info @products %></span>
      </div>      
      </div>
      <ul id="portfolio" class="row clearfix marginbot10">
        <% @products.each do |product| %>
        <li class="item span4 all free popular latest">
          <div class="image-wrapper">
            <div class="image-caption"></div>
            <div class="image-title">
              <h4>
                <%= link_to product.name, 
                [@categories.find(product.category_id), product] %>
              </h4>
            </div>
            <a href="<%= product.url %>" class="zoom">zoom</a>
            <div class="portfolio-metta">
              <a href="#"><i class="icon-pinterest"></i>3445</a>
              <a href="#"><i class="icon-twitter"></i>98</a>
              <a href="#"><i class="icon-facebook"></i>205</a>
              <a href="#"><i class="icon-google-plus"></i>205</a>
            </div>            
            <img src="http://placehold.it/640x480" alt=""/>
          </div>
        </li>
        <% end %>
      </ul> 
      <div class="row">
        <div class="span12">
         
          <%= will_paginate @products, :page_links => false, 
          :renderer => ProductPaginationHelper::LinkRenderer, 
          :class => 'pager marginnone' %>
          
        </div>
      </div>
    </div>
  </section>
  <!-- End contain -->