<!-- Start featured -->
  <section id="featured" class="aligncenter">
      <div class="gridrotator">
        <div class="grid-wrapper">
          <div class="container">
            <div class="row">
              <div class="span12">    
                <h3>There Goes My Paycheck</h3>
              </div>
            </div>
          </div>
        </div>
        <div id="ri-grid" class="ri-grid ri-grid-size">
          <ul>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
            <li><a href="#"><img src="http://placehold.it/640x480" alt="" /></a></li>
          </ul>
        </div>
      </div>
  </section>
  <!-- End featured -->

    <!-- Start contain -->
  <section id="contain">
    <div class="container">
      <div class="row">
      <div class="span12">
        <div id="filter-bar" class="btn-group">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          Sort item by
          <span class="caret"></span>
          </a>        
          <ul id="filters" class="dropdown-menu">
            <li><a href="#" data-filter=".all">All items</a></li>
            <li><a href="#" data-filter=".latest">Latest items</a></li>
            <li><a href="#" data-filter=".popular">Popular items</a></li>
            <li><a href="#" data-filter=".premium">Premium items</a></li>
            <li><a href="#" data-filter=".free">Free items</a></li>
          </ul>
        </div>  
        <span class="page-count">1 of 264 Products</span>
      </div>      
      </div>
      <ul id="portfolio" class="row clearfix marginbot10">
        <li class="item span4 all free popular latest">
          <div class="image-wrapper">
            <div class="image-caption"></div>
            <div class="image-title">
              <h4><a href="#">Product Name</a></h4>
            </div>
            <a href="#" class="zoom">zoom</a>
            <div class="portfolio-metta">
              <a href="#"><i class="icon-pinterest"></i>3445</a>
              <a href="#"><i class="icon-twitter"></i>98</a>
              <a href="#"><i class="icon-facebook"></i>205</a>
              <a href="#"><i class="icon-google-plus"></i>205</a>
            </div>            
            <img src="http://placehold.it/640x480" alt=""/>
          </div>
        </li>
        <li class="item span4 all premium">
          <div class="image-wrapper">
            <div class="image-caption"></div>
            <div class="image-title">
              <h4><a href="#">Product Name</a></h4>
            </div>
            <a href="#" class="zoom">zoom</a>
            <div class="portfolio-metta">
              <a href="#"><i class="icon-pinterest"></i>3445</a>
              <a href="#"><i class="icon-twitter"></i>98</a>
              <a href="#"><i class="icon-facebook"></i>205</a>
              <a href="#"><i class="icon-google-plus"></i>205</a>
            </div>  
            <img src="http://placehold.it/640x480" alt=""/>
          </div>        
        </li>
        <li class="item span4 all free">
          <div class="image-wrapper">
            <div class="image-caption"></div>
            <div class="image-title">
              <h4><a href="#">Product Name</a></h4>
            </div>
            <a href="#" class="zoom">zoom</a>
            <div class="portfolio-metta">
              <a href="#"><i class="icon-pinterest"></i>3445</a>
              <a href="#"><i class="icon-twitter"></i>98</a>
              <a href="#"><i class="icon-facebook"></i>205</a>
              <a href="#"><i class="icon-google-plus"></i>205</a>
            </div>  
            <img src="http://placehold.it/640x480" alt=""/>
          </div>          
        </li>
        <li class="item span4 all free">
          <div class="image-wrapper">
            <div class="image-caption"></div>
            <div class="image-title">
              <h4><a href="#">Product Name</a></h4>
            </div>
            <a href="#" class="zoom">zoom</a>
            <div class="portfolio-metta">
              <a href="#"><i class="icon-pinterest"></i>3445</a>
              <a href="#"><i class="icon-twitter"></i>98</a>
              <a href="#"><i class="icon-facebook"></i>205</a>
              <a href="#"><i class="icon-google-plus"></i>205</a>
            </div>
            <img src="http://placehold.it/640x480" alt=""/>
          </div>
        </li> 
        <li class="item span4 all premium popular">
          <div class="image-wrapper">
            <div class="image-caption"></div>
            <div class="image-title">
              <h4><a href="#">Product Name</a></h4>
            </div>
            <a href="#" class="zoom">zoom</a>
            <div class="portfolio-metta">
              <a href="#"><i class="icon-pinterest"></i>3445</a>
              <a href="#"><i class="icon-twitter"></i>98</a>
              <a href="#"><i class="icon-facebook"></i>205</a>
              <a href="#"><i class="icon-google-plus"></i>205</a>
            </div>  
            <img src="http://placehold.it/640x480" alt=""/>
          </div>
        </li>
        <li class="item span4 all free">
          <div class="image-wrapper">
            <div class="image-caption"></div>
            <div class="image-title">
              <h4><a href="#">Product Name</a></h4>
            </div>
            <a href="#" class="zoom">zoom</a>
            <div class="portfolio-metta">
              <a href="#"><i class="icon-pinterest"></i>3445</a>
              <a href="#"><i class="icon-twitter"></i>98</a>
              <a href="#"><i class="icon-facebook"></i>205</a>
              <a href="#"><i class="icon-google-plus"></i>205</a>
            </div>
            <img src="http://placehold.it/640x480" alt=""/>
          </div>        
        </li>
        <li class="item span4 all free latest">
          <div class="image-wrapper">
            <div class="image-caption"></div>
            <div class="image-title">
              <h4><a href="#">Product Name</a></h4>
            </div>
            <a href="#" class="zoom">zoom</a>
            <div class="portfolio-metta">
              <a href="#"><i class="icon-pinterest"></i>3445</a>
              <a href="#"><i class="icon-twitter"></i>98</a>
              <a href="#"><i class="icon-facebook"></i>205</a>
              <a href="#"><i class="icon-google-plus"></i>205</a>
            </div>
            <img src="http://placehold.it/640x480" alt=""/>
          </div>        
        </li>
        <li class="item span4 all free">
          <div class="image-wrapper">
            <div class="image-caption"></div>
            <div class="image-title">
              <h4><a href="#">Product Name</a></h4>
            </div>
            <a href="#" class="zoom">zoom</a>
            <div class="portfolio-metta">
              <a href="#"><i class="icon-pinterest"></i>3445</a>
              <a href="#"><i class="icon-twitter"></i>98</a>
              <a href="#"><i class="icon-facebook"></i>205</a>
              <a href="#"><i class="icon-google-plus"></i>205</a>
            </div>
            <img src="http://placehold.it/640x480" alt=""/>
          </div>        
        </li> 
        <li class="item span4 all latest popular">
          <div class="image-wrapper">
            <div class="image-caption"></div>
            <div class="image-title">
              <h4><a href="#">Product Name</a></h4>
            </div>
            <a href="#" class="zoom">zoom</a>
            <div class="portfolio-metta">
              <a href="#"><i class="icon-pinterest"></i>3445</a>
              <a href="#"><i class="icon-twitter"></i>98</a>
              <a href="#"><i class="icon-facebook"></i>205</a>
              <a href="#"><i class="icon-google-plus"></i>205</a>
            </div>
            <img src="http://placehold.it/640x480" alt=""/>
          </div>
        </li>         
      </ul> 
      <div class="row">
        <div class="span12">
          <ul class="pager marginnone">
            <li class="previous disabled"><a href="#">&larr; Older</a></li>
            <li class="next"><a href="#">Newer &rarr;</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End contain -->