<%= render "shared/social_hero" %>
<h1>Privacy Policy</h1>
<p>We hate spam as much as you do, which is why we are promising to never sell or give away your email address or personal details to any third parties who are going to spam you ever.</p>
<p>
Having said that, you should know that we do use services like Google Analytics and Facebook Insights across our website but rest assured we aren't tracking any personally identifiable information. 
</p>
<p>
If you have any questions at all about our privacy policy then shoot us an email at fmhgifts [at] gmail.com or hit us up on Twitter at @<%= ENV["TWITTER_SITE"] %>
</p>
