<%= render "shared/social_hero" %>
<h1>Submit a Product</h1>
<p>If you have or know of a product that you would love to see featured on here please get in touch with us at fmhgifts [at] gmail.com or alternatively contact us on Twitter @<%= ENV["TWITTER_SITE"] %>
</p>