<%= render "shared/social_hero" %>
<h1>Submit a Product</h1>
<p>If you have or know of a product that you would love to see featured on here please get in touch with us at fmhgifts [at] gmail.com or alternatively contact us on Twitter @<%= ENV["TWITTER_SITE"] %>
</p>
<p>
However, keep in mind, this site isn't about pushing products that we don't truly believe in. Everything is on this site currently because we love it and think it is amazing, hilarious or just plain absurd. So with that in mind, please don't be offended if we choose not to feature your product. It's nothing personal, just not everything that hits our inboxes is a great fit!
</p>