# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore other unneeded files.
database.yml
doc/
*.swp
*~
.project
.DS_Store
.idea
.secret
bundler_stubs/

#Ignore product image files
public/system/

#Ignore environment variables config file
/config/application.yml

#Ignore brakeman output files
brakeman_output.html

#Ignore images from products
/public/system/products*.png
/public/system/products*.gif
/public/system/products*.jpg
/public/system/products*.jpeg

#Ignore XML Sitemap Files
/public/*.xml.gz
