<h1 class="text-center">There Goes My Paycheck</h1>
<nav id="top-menu">
  <div class="navbar">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Whats New</a></li>
      <li><a href="#">Gadgets</a></li>
      <li><a href="#">Geeky</a></li>
      <li><a href="#">Toys</a></li>
      <li><a href="#">Wearables</a></li>
      <li><a href="#">Home &amp; Office</a></li>
      <li><a href="#">Food &amp; Drink</a></li>
      <li><a href="#">Kids</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        About <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="<%= about_path %>">About Us</a></li>
          <li><a href="<%= submit_path %>" rel="nofollow">Submit Product</a></li>
          <li><a href="<%= privacy_path %>">Privacy Policy</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
